<section>
  <div class="header">
    <h1>New Car</h1>
  </div>
</section>
<hr>
<main class="Car-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="NewCarForm">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">

            <div class="mb-3">
              <label for="NameCar" class="form-label">Name Car</label>
              <input type="text" class="form-control" id="NameCar" formControlName="NameCar">
            </div>
            <div class="mb-3">
              <label for="classCar" class="form-label">Class Car</label>
              <input type="text" class="form-control" id="classCar" formControlName="classCar">
            </div>
            <div class="mb-3">
              <label for="TypeCar" class="form-label">Production Date</label>
              <input type="number" class="form-control" id="ProductionDate" formControlName="ProductionDate" min="1900" max="2099" step="1" placeholder="YYYY">
            </div>

        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label for="Photo" class="form-label">Photo</label>
            <input type="file" class="form-control" id="Photo" formControlName="Photo">
          </div>
          <div class="form-check mt-2" *ngIf="showInputs" >
            <input class="form-check-input" type="checkbox" formControlName="isActive" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Active
            </label>
          </div>
      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/Cars']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
