<section>
  <div class="header">
    <h1>Employyes</h1>
  </div>
</section>
<header class="top">
  <button class="btn-add" [routerLink]="['/NewEmployyes']">
    Add New User
    <span class="material-icons">person_add</span>
  </button>
</header>
<hr>
<main class="Employyes-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let data of userService.ListUser">
          <td>{{data.id}}</td>
          <td>{{data.userName}}</td>
          <td>{{ data.frist_Name + ' ' + data.last_Name }}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone1}}</td>
          <td>{{data.address}}</td>
          <td>
            {{ data.role === 1 ? 'Manager' : data.role === 2 ? 'Seller' : data.role === 3 ? 'Customer' : 'Unknown' }}
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
            <span class="material-icons">edit</span>
            <span class="material-icons">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
