<aside>
  <button class="close-btn">
    <span class="material-icons">close</span>
  </button>
  <div class="sidebar">
    <a [routerLink]="['/Dashboard']" [routerLinkActive]="'active'">
      <span class="material-icons"> grid_view</span>
      <h3>Dashboard</h3>
    </a>
    <a href="#" [routerLinkActive]="'active'" class="">
      <span class="material-icons">person_outline</span>
      <h3>Coustomers</h3>

    </a>
    <a [routerLink]="['Order-List']" [routerLinkActive]="'active'">
      <span class="material-icons">receipt_long</span>
      <h3>Order</h3>
    </a>
    <a [routerLink]="['/Analytics']" [routerLinkActive]="'active'">
      <span class="material-icons">insights</span>
      <h3>Analytics</h3>
    </a>
    <a [routerLink]="['/Messages-list']" [routerLinkActive]="'active'">
      <span class="material-icons"> mail_outline</span>
      <h3>Messages</h3>
      <span class="message-count">26</span>
    </a>
    <a [routerLink]="['/category']" [routerLinkActive]="'active'">
      <span class="material-icons">list</span>
      <h3>category</h3>
    </a>
    <a [routerLink]="['/Prodcuts']" [routerLinkActive]="'active'">
      <span class="material-icons">inventory</span>
      <h3>Products</h3>
    </a>
    <a [routerLink]="['/Reports-list']" [routerLinkActive]="'active'">
      <span class="material-icons"> report_gmailerrorred</span>
      <h3>Reports</h3>
    </a>
    <a [routerLink]="['/Employyes']" [routerLinkActive]="'active'">
      <span class="material-icons">group</span>
      <h3>Employees</h3>
    </a>
    <div class="dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="productsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown()">
        <span class="material-icons">inventory</span>
        <h3>Optional</h3>
      </a>

      <div class="dropdown-menu" aria-labelledby="productsDropdown" [class.show]="isDropdownOpen">
        <a class="dropdown-item" href="#">Brand</a>
        <a class="dropdown-item" href="#">Car</a>
      </div>
    </div>
    <a [routerLink]="['#']" [routerLinkActive]="'active'">
      <span class="material-icons">settings</span>
      <h3>Settings</h3>
    </a>
    <a [routerLink]="['/New-products']" [routerLinkActive]="'active'">
      <span class="material-icons">add</span>
      <h3>Add Products</h3>
    </a>
    <a [routerLink]="['#']" [routerLinkActive]="'active'">
      <span class="material-icons">logout</span>
      <h3>Logout</h3>
    </a>

  </div>
</aside>
