<div class="container-xxl containerr">
  <!-- <div id="error-page">
    <div class="content">
      <div class="">
        <img class=" " src="../../../../assets/error/page-error.jpeg" alt="">
      </div>
        <h2 class="header" data-text="404">
          404
       </h2>
       <h4 data-text="Opps! Page not found">
          Opps! Page not found
       </h4>
       <p>
          Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
       </p>
       <div class="btns">
          <a href="https://www.codingnepalweb.com/">return home</a>
          <a href="https://www.codingnepalweb.com/">report problem</a>
       </div>
    </div>
  </div> -->
  <section class="page_404">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-12
           col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">


            </div>

            <div class="contant_box_404">
              <h3 class="text">
                Look like you're lost
              </h3>

              <p class="text-p">the page you are looking for not avaible!</p>

              <a    class="link_404">Go to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
