<nav>
  <app-navbar></app-navbar>

  <!-- <app-navbar (sidebarToggled)="sidenav=$event;"></app-navbar> -->
</nav>
<aside>
  <!-- <app-sidebar [sidenav]="sidenav"></app-sidebar> -->
  <app-sidebar></app-sidebar>
</aside>
<main>

  <section>
    <router-outlet></router-outlet>
  </section>
  <div style="max-width: 26rem;">
    <router-outlet name="secondary"></router-outlet>
  </div>
</main>

<!-- <div class="container">
  <aside>
    <app-sidebar></app-sidebar>
  </aside> -->
  <!-- <main>
    <router-outlet></router-outlet>
  </main>
  <div class="rigth">
  </div>
</div> -->
