<section>
  <div class="header">
    <h1>Messages</h1>
  </div>
</section>
<hr>
<main class="Messages-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let porducts of contactUsService.listContactUs">
          <td>{{porducts.id}}</td>
          <td>{{porducts.name}}</td>
          <td>{{porducts.email}}</td>
          <td>{{porducts.subject}}</td>
          <td>{{porducts.message}}</td>
          <td class="primary action">
            <span class="material-icons">info</span>
           </td>
        </tr>

      </tbody>
    </table>
  </div>
</main>
