<section>
  <div class="header">
    <h1>Edit Cars</h1>
  </div>
</section>
<hr>
<main class="Cars-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="EditCarsForm">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">
            <div class="mb-3">
              <label for="NumberCar" class="form-label">Number Car</label>
              <input type="text" class="form-control" id="NumberCar" [value]="cars.id" aria-describedby="NumberCar" disabled >
            </div>
            <div class="mb-3">
              <label for="NameCar" class="form-label">Name Car</label>
              <input type="text" class="form-control" [value]="cars.name" id="NameCar" formControlName="NameCar">
            </div>
            <div class="mb-3">
              <label for="classCar" class="form-label">Class Car</label>
              <input type="text" class="form-control" [value]="cars.class" id="classCar" formControlName="classCar">
            </div>
            <div class="mb-3">
              <label for="TypeCar" class="form-label">Type Car</label>
              <input type="text" class="form-control" id="TypeCar">
            </div>
            <div class="mb-3">
              <label for="photo" class="form-label">photo</label>
              <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
            </div>
        </div>
        <div class="col-6 right">
          <div class="form-check mt-2" *ngIf="showInputs" >
            <input class="form-check-input" type="checkbox" formControlName="isActive" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Active
            </label>
          </div>

      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/Cars']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
