<div class="footer-down">
  <div class="container_down">
    <div class="row-down">
        <!-- <div class="footer-col">
          <div class="footer-about">
                        <div class="footer-logo">
                            <a href="#">
                            <img class="logo-footer" src="./img/logo.png" alt=""></a>
                        </div>
                        <p>The Customer is at the heart of our unique bussiness model </p>
                        <a href="#"><img class="payment-footer" src="./pictuer/payment.png" alt=""></a>
                    </div>
        </div> -->
        <div class="footer-col">
          <h4>INFORMATION</h4>
            <ul class="ul-footer">
              <li class="li-footer"><a href="http://localhost:4201/PrivacyPolicy">privacy policy</a></li>
              <li class="li-footer"><a href="#">Refund Policy</a></li>
              <li class="li-footer"><a href="#">Terms Of Service</a></li>
             </ul>
        </div>

        <div class="footer-col">
          <h4>CUSTOMER SERVICE</h4>
            <ul class="ul-footer">
              <li class="li-footer"><a href="#">Sell With Us</a></li>
              <li class="li-footer"><a href="#">Affiliates</a></li>
              <li class="li-footer"><a href="#">About Us</a></li>
             </ul>
        </div>
        <div class="footer-col">


          <h4>CONTACT</h4>
            <ul class="ul-footer">
              <li class="li-footer"><a href="http://localhost:4201/Contact_Us">Contact
              </a></li>
              <li class="li-footer"><a href="#">Support</a></li>
             </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
             <a href="#"><i class="bx bxl-facebook"></i></a>
             <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
          </div>
          <div class="row-down">
      <div class="footer-col-down">
        <div class="footer-copyright-text">
          <p>© <script>
            document.write(new Date().getFullYear())
          </script> Name comp. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
