<nav>
  <div class="container">
    <img src="../../../../assets/images/logo.png" class="logo" alt="">
    <div class="search-bar">
      <span class="material-icons">search</span>
      <input type="search" placeholder="Search">
    </div>
    <div class="profile-area">
      <div class="theme-btn">
        <span class="material-icons active">light_mode</span>
        <span class="material-icons">dark_mode</span>
      </div>
      <div class="profile">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <h5>Zeyad</h5>
        <span class="material-icons" (click)="dropdown()">expand_more</span>
      </div>
      <div class="drop-down" [class.active-dropdown]="showdropdown">
        <div class="list-group">
          <a [routerLink]="['My-profile']" class="list-group-item list-group-item-action" [routerLinkActive]="'active'" aria-current="true">
            My Profile
          </a>
           <a href="#" class="list-group-item list-group-item-action" [routerLinkActive]="'active'">Log Out</a>
         </div>
      </div>
      <!-- <button id="meun-btn" (click)="sidebarToggle()"> -->
        <button id="meun-btn" (click)="sidebarToggle()">

        <span class="material-icons">menu</span>
      </button>
    </div>
  </div>

 </nav>


