<section class="section-content pb-5">
  <div class="container">

  <div class="row p-5">
      <main class="col-md-9">
  <div class="card">

  <table class="table table-borderless table-shopping-cart">
  <thead class="text-muted">
  <tr class="small text-uppercase">
    <th scope="col">Product</th>
    <th scope="col" width="120">Quantity</th>
    <th scope="col" width="120">Price</th>
    <th scope="col" class="text-right" width="200"> </th>
  </tr>
  </thead>
  <tbody>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="../../../../assets/production/3.avif" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Some name of item goes here nice</a>
                  <p class="text-muted small">Size: no size, Color: no color, <br> Brand: Name</p>
              </figcaption>
          </figure>
      </td>
      <td>
          <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
          </select>
      </td>
      <td>
          <div class="price-wrap">
              <var class="price">$1156.00</var>
              <small class="text-muted"> $315.20 each </small>
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right">
       <a href="" class="btn-remove btn btn-light"> Remove</a>
      </td>
  </tr>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="../../../../assets/production/2.jpg" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Product name  goes here nice</a>
                  <p class="text-muted small">Size: no size, Color: no color, <br> Brand: Name</p>
              </figcaption>
          </figure>
      </td>
      <td>
          <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
          </select>
      </td>
      <td>
          <div class="price-wrap">
              <var class="price">$149.97</var>
              <small  class="text-muted"> $75.00 each </small>
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right">
       <a href="" class="btn-remove btn btn-light btn-round"> Remove</a>
      </td>
  </tr>
  <tr>
      <td>
          <figure class="itemside">
              <div class="aside"><img src="../../../../assets/production/1.jpg" class="img-sm"></div>
              <figcaption class="info">
                  <a href="#" class="title text-dark">Another name of some product goes just here</a>
                  <p class="text-muted small">Size: no size, Color: no color, <br> Brand: Name</p>
              </figcaption>
          </figure>
      </td>
      <td>
          <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
          </select>
      </td>
      <td>
          <div class="price-wrap">
              <var class="price">$98.00</var>
              <small class="text-muted"> $578.00 each</small>
          </div> <!-- price-wrap .// -->
      </td>
      <td class="text-right">
           <a href="" class="btn-remove btn btn-light btn-round"> Remove</a>
      </td>
  </tr>
  </tbody>
  </table>

  <div class="card-body border-top btn-pay ">
      <a href="#" class="btn btn-light"> <i class="bx bx-chevron-left"></i> Continue shopping </a>
      <a (click)="gotoPayment()" href="#" class="btn btn-primary float-md-right"> Make Purchase <i class="bx bx-chevron-right"></i> </a>

  </div>
  </div>



      </main>
      <aside class="col-md-3">
          <div class="card mb-3">
              <div class="card-body">
              <form>
                  <div class="form-group m-1">
                      <label>Have coupon?</label>
                      <div class="input-group d-flex">
                          <input type="text" class="form-control" name="" placeholder="Coupon code">
                          <span class="input-group-append">
                              <button class="btn btn-primary">Apply</button>
                          </span>
                      </div>
                  </div>
              </form>
              </div> <!-- card-body.// -->
          </div>  <!-- card .// -->
          <div class="card">
              <div class="card-body">
                      <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">USD 568</dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right">USD 658</dd>
                      </dl>
                      <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right  h5"><strong>$1,650</strong></dd>
                      </dl>
                      <hr>
                      <p class="text-center d-flex mb-3 image-payments">
                          <img src="../../../../assets/payments/paypal.png" height="50">
                          <img src="../../../../assets/payments/mastercard.png" height="35"  >
                          <img src="../../../../assets/payments/Visa.png" height="25" width="60">
                      </p>

              </div>
          </div>
      </aside>
  </div>

  </div>
  </section>

