<section>
  <div class="header">
    <h1>New Category</h1>
  </div>
</section>
<hr>
<main class="Category-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="NewCategoryForm">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">

            <div class="mb-3">
              <label for="NameCategory" class="form-label">Name Category</label>
              <input type="text" class="form-control" id="NameCategory" formControlName="NameCategory">
              <div *ngIf="NewCategoryForm.controls['NameCategory'].invalid && NewCategoryForm.controls['NameCategory'].touched"
              class="text-danger">
              Name Category is required.
            </div>
            </div>


        </div>

      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/category']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
