<main class="profile">
  <div class="">
    <div class="row  justify-content-evenly">
      <div class="col-md-4 mb-3">
          <div class="sup-porfile">
            <div class="sub-profile">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../../../../assets/profile/person-4.png" alt="Admin" class="rounded-circle" width="100">
                    <div>
                      <h4>Zeyad Altaji</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="sup-porfile">
            <div class="sub-profile">
              <div class="card mb-3">
                <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Zeyad Altaji
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <a href="#" >ziadaltaji130@outlook.com</a>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary d-flex justify-content-between" >
                          ********
                          <div class="form-check ms-2" style="text-align: center;">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              show
                            </label>
                          </div>

                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          +962-78-700-1066
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          +962-78-700-1066
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Jordan, Amman
                        </div>
                      </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-12">
                         <a class="btn btn-info" [routerLink]="['/Edit-My-profile']">Edit</a>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          </div>
      </div>

    </div>
    <hr>
    <div class="row  justify-content-evenly">
      <div class="col-5">
        <div class="anaylsis-sup">
          <div class="anaylsis-sub">
            <canvas id="line_chart" width="400px" height="250px"></canvas>
            <h3 class="text-center mt-3">Feed Back</h3>
          </div>
        </div>
    </div>
    <div class="col-5">
      <div class="anaylsis-sup">
        <div class="anaylsis-sub">

        <canvas id="bar_chart" width="400px" height="250px"></canvas>
        <h3 class="text-center mt-3">Earnings</h3>
      </div>
      </div>
  </div>
    </div>
  </div>
</main>
