<section>
  <div class="header">
    <h1>New products</h1>
  </div>
</section>
<hr>
<main class="products-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="NewProductsForm">
    <div class="container text-center">
      <div class="row">
        <div class="col-6 info">
            <div class="mb-3">
              <label for="NumberProducts" class="form-label">Serial Number Products</label>
              <input type="text" class="form-control" id="Serial_Id" aria-describedby="NumberProducts" formControlName="Serial_Id">
              <div *ngIf="NewProductsForm.controls['Serial_Id'].invalid && NewProductsForm.controls['Serial_Id'].touched"
              class="text-danger">
              Serial Number is required.
            </div>
            </div>
            <div class="mb-3">
              <label for="NameProducts" class="form-label">Name Products</label>
              <input type="text" class="form-control" id="NameProducts" formControlName="NameProducts">
              <div *ngIf="NewProductsForm.controls['NameProducts'].invalid && NewProductsForm.controls['NameProducts'].touched"
                class="text-danger">
                Name Products is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="TypeProducts" class="form-label">Price</label>
              <input type="text" class="form-control" id="PriceProducts" formControlName="PriceProducts">
              <div *ngIf="NewProductsForm.controls['PriceProducts'].invalid && NewProductsForm.controls['PriceProducts'].touched"
                 class="text-danger">
                 Price Products is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Quantity Have</label>
              <input type="text" class="form-control" id="-Quantity" formControlName="Quantity">
              <div *ngIf="NewProductsForm.controls['Quantity'].invalid && NewProductsForm.controls['Quantity'].touched"
                  class="text-danger">
                  Quantity is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="Photo" class="form-label">Photo</label>
              <input type="file" class="form-control" (change)="HandleFilePrimaryimages($event)" id="inputGroupFile03" formControlName="Primary_Image" aria-describedby="inputGroupFileAddon03" aria-label="Upload"  #PrimaryImage>
              <div *ngIf="NewProductsForm.controls['Primary_Image'].invalid && NewProductsForm.controls['Primary_Image'].touched"
                  class="text-danger">
                  Photo is required.
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="card" style="width: 18rem;"><img src="" id="PrimaryImage" alt="Is Primary Image"></div>
                </div>
              </div>
             </div>

            <div class="mb-3">
              <a class="btn btn-primary mb-2"
               data-bs-parent="#parentDiv"
               role="button" aria-expanded="false"
               (click)="toggleInputs()"><i class="material-icons"
               style="vertical-align: middle;padding: 1px 1px 3px;"
                >more_horiz</i>More Options
              </a>
              <div [class.show]="showInputs">
                <div *ngIf="showInputs" data-bs-parent="#parentDiv">
                  <label for="New_price" class="form-label">New Price</label>
                  <input type="text" class="form-control" id="PriceProducts" formControlName="newprice">
                </div>
                 <div  *ngIf="showInputs" data-bs-parent="#parentDiv">
                  <label for="Offer" class="form-label">Offers</label>
                  <input type="text" class="form-control" id="offers"  formControlName="Offer">
                 </div>
                 <div class="form-check mt-2" *ngIf="showInputs" >
                  <input class="form-check-input" type="checkbox" formControlName="isActive" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Active
                  </label>
                </div>
              </div>

            </div>
        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label class="form-label">Categorise</label>
            <select #Category (change)="propertyView.category=Category.options[Category.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Categorise" aria-label="Floating label select example">
              <option selected>Select Type Category</option>
              <option *ngFor="let categorise of categoriseList" value={{categorise.id}}>
                {{categorise.name}}
              </option>
            </select>
            <div *ngIf="NewProductsForm.controls['Categorise'].invalid && NewProductsForm.controls['Categorise'].touched"
            class="text-danger">
            Category is required.
          </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Products</label>
            <select #Products (change)="propertyView.Products =Products.options[Products.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Products" aria-label="Floating label select example">
              <option selected>Select Type Products</option>
              <option *ngFor="let x of ProductsList" value={{x.id}}>
                {{x.title}}
              </option>
            </select>
            <div *ngIf="NewProductsForm.controls['Products'].invalid && NewProductsForm.controls['Products'].touched"
            class="text-danger">
            Products is required.
          </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Type Cars</label>
            <select #Cars (change)="propertyView.cars=Cars.options[Cars.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Cars" aria-label="Floating label select example">
              <option selected>Select Type Cars</option>
              <option *ngFor="let car of CarsList" value={{car.id}}>
                {{car.name}}
              </option>
            </select>
            <div *ngIf="NewProductsForm.controls['Cars'].invalid && NewProductsForm.controls['Cars'].touched"
            class="text-danger">
            Type Cars is required.
          </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Name Brands</label>
            <select #Brands (change)="propertyView.brands=Brands.options[Brands.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Brands" aria-label="Floating label select example">
              <option selected>Select Type Brands</option>
              <option *ngFor="let Brands of BrandList" value={{Brands.id}}>
                {{Brands.name}}
              </option>
            </select>
            <div *ngIf="NewProductsForm.controls['Brands'].invalid && NewProductsForm.controls['Brands'].touched"
            class="text-danger">
            Type Brands is required.
          </div>
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea type="text"
            class="form-control"
            rows="6" formControlName="Description"></textarea>
             <div *ngIf="NewProductsForm.controls['Description'].invalid && NewProductsForm.controls['Description'].touched"
            class="text-danger">
            Type Cars is required.
          </div>
          </div>



      </div>

      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel"  [routerLink]="['/Prodcuts']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
