<div class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
        <div class="session">
          <div class="left">

          </div>
          <form action="" class="log-in" autocomplete="off">

            <p>Welcome back! Log in to your account to view today's clients:</p>
            <div class="floating-label">
              <input placeholder="Email" type="email" name="email" id="email" autocomplete="off">
              <label for="email">Email:</label>

            </div>
            <div class="floating-label">
              <input placeholder="Password" type="password" name="password" id="password" autocomplete="off">
              <label for="password">Password:</label>
            </div>
            <button type="submit"(click)="gotodashbord()">Log in</button>
            <hr>
            <div class="floating-label">
              <label>
                <a></a>
              </label>
            </div>
           </form>

        </div>
    </div>
  </div>
</div>
