<div class="container-xxl">
  <div class="grid text-center">
    <div class="g-col-6 g-col-md-4">
      <div class="section-header">
        <h2 id="section-title">SEARCH BY YEAR, MAKE AND MODEL</h2>
        <div>
         <div class="container">
          <form class="">
            <div class="row g-3 justify-content-center">
              <div class="col-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col-2">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="row g-3 justify-content-center mt-2">
              <div class="col-auto">
                <button type="submit" class="btn  btn-search-by mb-3">SEARCH</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn   mb-3 btn-search-by">reset</button>
              </div>
            </div>
          </form>
        </div>
       </div>

      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row" >
      <div class="col-md-4 col-sm-6" *ngFor="let x of product">
        <div class="card mb-30">
          <a class="card-img-tiles" href="/Products/{{[x.id]}}" data-abc="true">
            <div class="inner">
                <div class="main-img">
                  <img src="http://localhost:4203/assets/image/Products/{{x.isPrimaryImage}}" alt="Category">
                </div>
                <div class="thumblist">
                  <img src="http://localhost:4203/assets/image/Products/{{x.isForeignImage1}}" alt="Category">
                  <img src="http://localhost:4203/assets/image/Products/{{x.isForeignImage2}}" alt="Category">
                </div>
            </div>
          </a>
            <div class="card-body text-center">
              <h4 class="card-title">{{x.title}}</h4>
              <a class="btn btn-sm" href="/ByProducts/{{[x.id]}}" data-abc="true">Shopping Now</a>
            </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-3 mb-5" *ngIf="!product">

        <div class="card text-center">
          <div class="card-body ">
            <h3 class="card-title">There are no products currently</h3>
            <h5 class="card-text">Products will be provided soon</h5>
            <a routerLink="/" routerLinkActive="router-link-active"  class="btn btn-primary">Back</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
