<section>
  <div class="header">
    <h1>Edit Brand</h1>
  </div>
</section>
<hr>
<main class="Brand-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()"   [formGroup]="EditBrandForm">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">
            <div class="mb-3">
              <label for="NumberBrand" class="form-label">Number Brand</label>
              <input type="text" class="form-control" id="NumberBrand" [value]="Brand.id" aria-describedby="NumberBrand" disabled >
            </div>
            <div class="mb-3">
              <label for="NameBrand" class="form-label">Name Brand</label>
              <input type="text" class="form-control" [value]="Brand.name" id="NameBrand" formControlName="Name">
            </div>



        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label for="NameBrand" class="form-label">Image Brand</label>
            <input type="file" class="form-control" id="Image_BrandUrl" (change)="HandleFile($event)" aria-describedby="inputGroupFileAddon03" aria-label="Upload"   #imageInput formControlName="Image_BrandUrl">
            <label for="img" id="selectedImageLabel"></label>
           </div>
          <div class="mb-3">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="card" style="width: 18rem;"><img src="{{[UrlImage]}}" class="img-fluid rounded border bg-light" id="image" alt=""></div>
                </div>
              </div>
             </div>
      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/Brand']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
