<section>
  <div class="header">
    <h1>New User</h1>
  </div>
</section>
<hr>
<main class="Employyes-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="NewEmployyesForm">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">
          <div class="mb-3">
            <label for="UserName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="UserName" aria-describedby="UserName"  formControlName="UserName">
          </div>
            <div class="mb-3">
              <label for="FirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="FirstName" aria-describedby="FirstName"  formControlName="FirstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">last Name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
              <label for="FirstName" class="form-label">Employyes role</label>
              <select class="form-select" aria-label="Default select example" formControlName="selectRole">
                <option selected>Open this select menu</option>
                 <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="Email" class="form-label">photo</label>
              <input type="file" class="form-control" (change)="HandleFile($event)" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" formControlName="image_userUrl" #imageInput>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6 offset-md-3"> <div class="card" style="width: 18rem;">
                  <img src="" class="img-fluid rounded border bg-light" id="image" alt="">
                </div></div>
              </div>

             </div>

        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" aria-describedby="Email" formControlName="Email">
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" formControlName="Password">
          </div>
          <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="ConfirmPassword" formControlName="ConfirmPassword">
          </div>
          <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" id="Address" formControlName="Address">
          </div>
          <div class="mb-3">
            <label for="Mobile1" class="form-label">Mobile 1</label>
            <input type="text" class="form-control" id="Mobile1" formControlName="Mobile1">
          </div>
          <div class="mb-3">
            <label for="Mobile2" class="form-label">Mobile 2</label>
            <input type="text" class="form-control" id="Mobile2" formControlName="Mobile2">
          </div>

      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button type="submit" class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/Users']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
