<section class="middle">
  <div class="header">
    <h1>Dashboard</h1>
    <div class="date">
      <input type="date">
    </div>
  </div>
  <div class="insights">
    <div class="sales">
      <span class="material-icons">analytics</span>
      <div class="middle">
        <div class="left">
          <h3>total sales</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of sales -->
   <div class="income">
      <span class="material-icons">stacked_line_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Income</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Income -->
    <div class="Expenses">
      <span class="material-icons">bar_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Expenses</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Expenses -->

  </div>
  <div class="order">
    <h2>Order List</h2>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Product Number</th>
          <th>Payment</th>
          <th>Status</th>
          <th>Shipping Address</th>
          <th>Billing Address</th>
          <th>Tracking Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td class="primary">
            <span class="material-icons">info</span>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="#">Show All</a>
  </div>
  <canvas id="chart"></canvas>
</section>
