<section class="middle">
  <div class="header">
    <h1>Dashboard</h1>
    <div class="date">
      <input type="date" [(ngModel)]="currentDate">
    </div>
  </div>
  <div class="insights">
    <div class="sales">
      <span class="material-icons">analytics</span>
      <div class="middle">
        <div class="left">
          <h3>total sales</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of sales -->
    <div class="income">
      <span class="material-icons">stacked_line_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Income</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Income -->
    <div class="Expenses">
      <span class="material-icons">bar_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Expenses</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Expenses -->

  </div>
  <div class="order">
    <h2>Order List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Mobile</th>
          <th>Total Price</th>
          <th>Shipping Address</th>
          <th>Order Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let Order of contactUsService.ListOrder">
          <td>{{Order.fullName}}</td>

          <td>{{Order.mobile}}</td>

          <td>{{Order.totalPrice}}</td>
          <td>{{Order.shippingAddress}}</td>
          <td>
            {{ Order.orderStatus ? Order.orderStatus : 'Waiting' }}
          </td>
          <td class="primary action">
            <span class="material-icons">info</span>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="/Order-List" routerLinkActive="router-link-active">Show All
      <span class="material-icons">chevron_right</span>
    </a>
  </div>
  <div class="analytics">
    <canvas id="doubleLineCanvas" #doubleLineCanvas></canvas>
    <a href="#" class="Show">Show All
      <span class="material-icons">chevron_right</span>
    </a>
  </div>
</section>
