  <h1>Dashboard</h1>
  <div class="date">
    <input type="date">
  </div>
  <div class="insights">
    <div class="sales">
      <span class="material-icons">Analytics</span>
      <div class="middle">
        <div class="left">
          <h3>total sales</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of sales -->
    <div class="sales">
      <span class="material-icons">stacked_line_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Income</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Income -->
    <div class="sales">
      <span class="material-icons">bar_chart</span>
      <div class="middle">
        <div class="left">
          <h3>total Expenses</h3>
          <h1>$25,042</h1>
        </div>
        <div class="pogress">
          <svg>
            <circle cx='38' cy='38' r='36'></circle>
          </svg>
          <div class="number">
            <p>81%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!-- End div of Expenses -->

  </div>
