.top{
  background: white;
  display: flex;align-items: center;
  justify-content: space-around;
  margin-top: 1.4rem;
}
.logo{
  display: flex;
  gap:0.8rem;
}
.logo img{
  width: 2rem;height: 2rem;
}
 .close{
  display: none;
}
