<!-- <div class="top">
  <div class="logo">
    <img src="../../../../assets/image/logo.png" alt="">
  </div>
  <div class="close" id="close-btn">
    <span class="material-icons">close</span>
  </div>
</div>
 -->

 <nav>
  <div class="container">
    <img src="../../../../assets/image/logo.png" class="logo" alt="">
    <div class="search-bar">
      <span class="material-icons">search</span>
      <input type="search" placeholder="Search">
    </div>
    <div class="profile-area">
      <div class="theme-btn">
        <span class="material-icons active">light_mode</span>
        <span class="material-icons">dark_mode</span>
      </div>
      <div class="profile">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <h5>Zeyad</h5>
        <span class="material-icons">expand_more</span>
      </div>
      <button id="meun-btn">
        <span class="material-icons">menu</span>

      </button>
    </div>
  </div>
 </nav>
