<section>
  <div class="header">
    <h1>Edit products</h1>
  </div>
</section>
<hr>
<main class="products-edit">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="EditProductsForm">
    <div class="container text-center">
      <div class="row">
        <div class="col-6 info">
            <div class="mb-3">
              <label for="NumberProducts" class="form-label">Serial Number Products</label>
              <input type="text" class="form-control" id="NumberProducts"  [value]="product.serial_Id" formControlName="Serial_Id"  aria-describedby="NumberProducts">
            </div>
            <div class="mb-3">
              <label for="NameProducts" class="form-label">Name Products</label>
              <input type="text" class="form-control"  [value]="product.title" id="NameProducts" formControlName="NameProducts">
            </div>
            <div class="mb-3">
              <label for="TypeProducts" class="form-label">Price</label>
              <input type="text" class="form-control" id="PriceProducts" [value]="product.price"  formControlName="PriceProducts">
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Quantity Have</label>
              <input type="text" class="form-control" id="-Quantity" [value]="product.quantity" formControlName="Quantity">
            </div>
            <div class="mb-3">
              <label for="primaryimages" class="form-label">Photo primary</label>
              <input type="file" class="form-control" (change)="HandleFilePrimaryimages($event)" id="inputGroupFile03" formControlName="Primary_Image" aria-describedby="inputGroupFileAddon03" aria-label="Upload"  #PrimaryImage>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="card" style="width: 18rem;">
                    <img  src="{{[showPrimaryImage]}}" id="PrimaryImage" alt="Is Primary Image">
                  </div>
                </div>
              </div>
             </div>

            <div class="mb-3">
              <a class="btn btn-primary mb-2"
               data-bs-parent="#parentDiv"
               role="button" aria-expanded="false"
               (click)="toggleInputs()"><i class="material-icons"
               style="vertical-align: middle;padding: 1px 1px 3px;"
                >more_horiz</i>More Options
              </a>
              <div [class.show]="showInputs">
                <div *ngIf="showInputs" data-bs-parent="#parentDiv">
                  <label for="New_price" class="form-label">New Price</label>
                  <input type="text" class="form-control" id="PriceProducts" [value]="product.New_price" formControlName="newprice">
                </div>
                 <div  *ngIf="showInputs" data-bs-parent="#parentDiv">
                  <label for="Offer" class="form-label">Offers</label>
                  <input type="text" class="form-control" id="offers" [value]="product.offers" formControlName="Offer">
                 </div>
                 <div class="form-check mt-2" *ngIf="showInputs" >
                  <input class="form-check-input" id="" [(ngModel)]="product.isActive" type="checkbox" formControlName="Active" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Active
                  </label>
                </div>
              </div>

            </div>
        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label class="form-label">Categorise</label>
            <select #Category (change)="propertyView.category=Category.options[Category.options.selectedIndex].text"   class="form-select" id="floatingSelect" formControlName="Categorise" aria-label="Floating label select example">
              <option selected>Select Type Category</option>
              <option *ngFor="let categorise of categoriseList" value={{categorise.id}}>
                {{categorise.name}}
              </option>
            </select>
           </div>
           <div class="mb-3">
            <label class="form-label">Categorise</label>
            <select #Products (change)="propertyView.Products =Products.options[Products.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Products" aria-label="Floating label select example">
              <option selected>Select Type Category</option>
              <option *ngFor="let x of ProductsList" value={{x.id}}>
                {{x.name}}
              </option>
            </select>
           </div>
           <div class="mb-3">
            <label class="form-label">Type Cars</label>
            <select #Cars (change)="propertyView.cars=Cars.options[Cars.options.selectedIndex].text"   class="form-select" id="floatingSelect" formControlName="Cars" aria-label="Floating label select example">
              <option selected>Select Type Cars</option>
              <option *ngFor="let car of CarsList" value={{car.id}}>
                {{car.name}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Name Brands</label>
            <select #Brands (change)="propertyView.brands=Brands.options[Brands.options.selectedIndex].text" class="form-select" id="floatingSelect" formControlName="Brands" aria-label="Floating label select example">
              <option selected>Select Type Brands</option>
              <option *ngFor="let Brands of BrandList" value={{Brands.id}}>
                {{Brands.name}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea type="text"
            class="form-control"
            rows="6" [value]="product.description" formControlName="Description"></textarea>
          </div>

      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/list-products']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
