
<header class="top-header">

  <div class="reo">
   <a href="#" class="Logo"><img  [src]="logo" alt="Logo"></a>
     <div class="tab-phone">
         <div class="hamburger">
           <div> <i class='bx bx-menu'></i></div>
         </div>
         <div class="search-tab-phone" >
           <div> <i class='bx bx-search' (click)="mymenu()"></i></div>
         </div>
     </div>
   <div class="search">
      <input type="text" class="search-box" placeholder="Search Parts , Porduct">
      <button class="search-btn">Search</button>
   </div>
  </div>
   <div class="header-icon">

      <i class="bx bx-cart-alt" id="cart-icon" (click)="mycart()" ></i>
      <i class="bx bx-user" id="user-icon" (click)="myuser()"></i>
    </div>
    <!-- Cart -->
    <div class="cart" [class.active]="showcart">
      <div class="box" >
        <img src="stoptech-.webp" alt="">
        <div class="text">
            <h3>title cate</h3>
        <span> picen</span>
        <span>conut part </span>
        </div>
        <i class="bx bxs-trash-alt"></i>
      </div>
      <div class="box">
        <img src="Tire.webp" alt="">
        <div class="text">
            <h3>title cate</h3>
        <span> picen</span>
        <span>conut part </span>
        </div>
        <i class="bx bxs-trash-alt"></i>
      </div>
      <h2>Total : 1000.50$</h2>
      <a href="#" class="btn-Chechout">Chechout</a>
    </div>
    <!-- End Cart -->
    <!-- users -->
      <div class="user" [class.activeuser]="showUser">
        <h2>login Now</h2>
        <form class="Fromslogin" [formGroup]="LoginForm">
        <input type="text" placeholder="Your UserName...." formControlName="UserName">
        <small *ngIf="LoginForm.controls['UserName'].dirty && LoginForm.hasError('required','UserName')" class="text-danger massgeRequred">Email is required</small>
        <input type="password" name="" id="" placeholder="Enter Password ! " formControlName="password">
        <small *ngIf="LoginForm.controls['password'].dirty && LoginForm.hasError('required','password')" class="text-danger massgeRequred">Password is required</small>
        <input  (click)="onsubmit()" type="submit" value="Login" class="Login-btn">
        <p>Forget Password <a class="text" href="#">Reset Now</a></p>
         <p>Don't have Acount <a class="text"  (click)="onNavigate()" >Create Aconut</a></p>

      </form>

      </div>
    <!--End Users -->
    <form action="" class="search-bar-container"  [class.active]="showsearch">
     <input type="search" id="search-bar" placeholder="search here...">
     <label for="search-bar" class="fas fa-search"></label>
 </form>
 </header>

