<section>
  <div class="header">
    <h1>New Brand</h1>
  </div>
</section>
<hr>
<main class="Brand-new">
 <div class="margin">
  <div class="location">
    <form (ngSubmit)="OnSubmit()" [formGroup]="NewBrandForm" enctype="multipart/form-data">
      <div class="container text-center">
      <div class="row">
        <div class="col-6 info">

            <div class="mb-3">
              <label for="NameBrand" class="form-label">Name Brand</label>
              <input type="text" class="form-control" id="NameBrand" formControlName="NameBrand">
            </div>


        </div>
        <div class="col-6 right">
          <div class="mb-3">
            <label for="NameBrand" class="form-label">Image Brand</label>

            <input type="file" class="form-control" id="inputGroupFile03" (change)="HandleFile($event)" aria-describedby="inputGroupFileAddon03" aria-label="Upload" #imageInput>

          </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="card" style="width: 18rem;"><img src="" class="img-fluid rounded border bg-light" id="image" alt=""></div>
            </div>
          </div>
         </div>

      </div>
      </div>
    </div>
    <hr class="hr">
    <div class="container text-center">
    <div class="loc">
      <button class="btn-save">save</button>
      <button class="btn-cancel" [routerLink]="['/Brand']">cancel</button>
    </div>
    </div>
    </form>
  </div>
 </div>
</main>
