<div class="containerr container-xxl">
  <div class="form-v4">
    <div class="page-content">
      <div class="form-v4-content">
        <div class="form-left">
          <h2>INFOMATION</h2>
          <p class="text-1">معلومات حول </p>
          <p class="text-2"><span>تكملة </span> ظظظظظ </p>

        </div>
        <form class="form-detail" id="myform" [formGroup]="RegisterForm" (ngSubmit)="onRegister(RegisterForm)">

           <h2>Welcome to our website</h2>
          <div class="form-group">

            <div class="form-row form-row-1">
              <label for="first_name">First Name</label>
              <input formControlName="Frist_Name" type="text"  class="input-text">
            </div>
            <div class="form-row form-row-1">
              <label for="Last_Name">Last Name</label>
              <input formControlName="Last_Name" type="text" class="input-text">
            </div>
          </div>
          <div class="form-row">
            <label for="UserName">Your User Name</label>
            <input formControlName="UserName" type="text"  class="input-text" required>
          </div>
          <div class="form-row">
            <label for="your_email">Your Email</label>
            <input formControlName="Email" type="email"  class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
          </div>
          <div class="form-group">
            <div class="form-row form-row-1 ">
              <label for="password">Password</label>
              <input formControlName="Password" type="password"   class="input-text" required>
            </div>
            <div class="form-row form-row-1">
              <label for="passwordConfirm">confirm Password</label>
              <input  formControlName="ComfirmPassword" type="password"  class="input-text" required>
            </div>
          </div>
          <div class="form-checkbox">
            <label class="container"><p>I agree to the <a href="#" class="text">Terms and Conditions</a></p>
                <input type="checkbox" name="checkbox">
                <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-row-last">
             <button type="submit" class="btn btn-primary">Register</button>
          </div>
          <hr>
          <div class="form-checkbox">
            <label class="container"><p>Already have an account?<a [routerLink]="['/Login']" class="text"> Sign in</a></p></label>
            <label class="container"><p>Buying for work?<a [routerLink]="['/BusinessAccount']" class="text">Create a free business account</a></p></label>
          </div>
        </form>

      </div>
    </div>

  </div>

</div>
