<section>
  <div class="header">
    <h1>Category</h1>
  </div>
</section>
<header class="top">
  <button class="btn-add" [routerLink]="['/Category-new']">
    Add New Category
    <span class="material-icons">add_circle</span>
  </button>
</header>
<hr>
<main class="Category-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Product Number</th>
          <th>Status</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>Yes display</td>
          <td><img src="" alt="door.png"></td>


          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Category']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</main>
