<div class="super_container">
  <div class="single_product">
    <div class="container-fluid">
      <div class="row Main-products justify-content-around">
        <!-- <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713229/single_4.jpg" alt=""></li>
                    <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_2.jpg" alt=""></li>
                    <li data-image="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1565713228/single_3.jpg" alt=""></li>
                </ul>
            </div> -->
        <div class="col-lg-4 ">
          <div class="image_selected">
            <img class="figure-img img-fluid  img-prodcuts"
              src="http://localhost:4203/assets/image/SubProduct/{{subProducts.isPrimaryImage}}" alt="">
          </div>
        </div>
        <div class="col-lg-6  mt-3  right">
          <div class="product_description">
            <!-- <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Products</a></li>
                            <li class="breadcrumb-item active">Accessories</li>
                        </ol>
                    </nav> -->
            <div class="product_name">
              Title : {{subProducts.title}}
            </div>
            <!-- <div class="product-rating"><span class="badge badge-success"><i class="fa fa-star"></i> 4.5 Star</span> <span class="rating-review">35 Ratings & 45 Reviews</span></div> -->
            <div>
              <span class="product_price">{{subProducts.new_price}}$</span>
              <div class="product_discount">
                <span>
                  <p><del>{{subProducts.price}}$</del></p>
                </span>
              </div>
            </div>
            <hr>
            <div class="row offers">
              <div class="item-offers">
                <div class="row">
                  <div class="col-md-2">
                    <img src="https://img.icons8.com/color/48/000000/price-tag.png">
                  </div>
                  <div class="col-md-8">
                    <div class="pr-info"> <span class="break-all">or 4 interest-free payments of 37.50 AED.</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="counter mt-5">
              <div class="btn-cont" (click)="increaseQuantity()">+</div>
              <div class="count">{{ count }}</div>
              <div class="btn-cont" (click)="decreaseQuantity()">-</div>

            </div>
            <div class="total-price">
              <span class="product-total-price">Subtotal :</span>
              <span class="price">{{ totalPrice }}$</span>
            </div>
            <div class="go-to-add">
              <div class="row">
                <div class="col-5">
                  <button class="btn btn-success" (click)="addToCart(subProducts)"> Add to cart</button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="agreeTerms">
                <label class="form-check-label" for="gridCheck">
                  I agree with the terms and conditions
                </label>
              </div>
            </div>

            <div class="Bay-now">
              <button class="btn-bay" [disabled]="!agreeTerms">Instant Purchase</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
