
<div class="right">
  <!-- recent-update -->
  <div class="recent-update">
    <h2>recent updates</h2>
    <div class="updates">
      <div class="update">
        <div class="profile-photo">
          <img src="" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
    </div>

  </div>
  <div class="sales-analytics">
    <h2>sales analytics</h2>
    <div class="item online">
      <div class="icon">
        <span class="material-icons">shopping_cart</span>
      </div>
      <div class="rigth">
        <div class="info">
          <h3>online </h3>
        </div>
      </div>
    </div>
  </div>
</div>


