<div class="right">
  <div class="header">
    <h2>recent updates</h2>
  </div>
  <div class="recent-update">
    <div class="updates">
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
      <div class="update">
        <div class="profile-photo">
          <img src="../../../../assets/user/zeyad.jpg" alt="">
        </div>
        <div class="message">
          <p><b>when door</b>Mee !!!! </p>
          <small class="text-muted">
            2 Minutes ago
          </small>
        </div>
      </div>
    </div>

  </div>
  <div class="sales-analytics">
    <div class="header">
      <h2>Best-Selling</h2>
      <a href="#">more
        <span class="material-icons">chevron_right</span>
      </a>
    </div>
    <div class="sales">
      <div class="sale">
        <img src="../../../../assets/image/logo.png" alt="">
        <h4>up</h4>
        <div>
          <p>1402</p>
          <small class="text-muted">part </small>
        </div>
        <div>
          <div class="amount">
            <h4>$20.255</h4>
            <small class="success">+45%</small>
          </div>
        </div>
      </div>
      <div class="sale">
        <img src="../../../../assets/image/logo.png" alt="">
        <h4>up</h4>
        <div>
          <p>1402</p>
          <small class="text-muted">part </small>
        </div>
        <div>
          <div class="amount">
            <h4>$20.255</h4>
            <small class="success">+45%</small>
          </div>
        </div>
      </div>
      <div class="sale">
        <img src="../../../../assets/image/logo.png" alt="">
        <h4>up</h4>
        <div>
          <p>1402</p>
          <small class="text-muted">part </small>
        </div>
        <div>
          <div class="amount">
            <h4>$20.255</h4>
            <small class="success">+45%</small>
          </div>
        </div>
      </div>
      <div class="sale">
        <img src="../../../../assets/image/logo.png" alt="">
        <h4>up</h4>
        <div>
          <p>1402</p>
          <small class="text-muted">part </small>
        </div>
        <div>
          <div class="amount">
            <h4>$20.255</h4>
            <small class="success">+45%</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
