<div class="right">
  <div class="header">
    <h2>Message Updates</h2>
  </div>
  <div class="recent-update">
    <div class="updates">
      <div class="update" *ngFor="let Message of contactUsService.listContactUs.slice(0,maxDisplayedMessage)">
        <div class="message">
          <h3><b>Full Name : </b>{{Message.name}}</h3>
          <small class="text-muted">
            Subject : {{Message.subject}}
          </small>
        </div>
      </div>
      <div *ngIf="contactUsService.listContactUs.length > maxDisplayedMessage">
        <button class="btn-More" (click)="showMore()">Show More</button>
      </div>
    </div>

  </div>
  <div class="sales-analytics">
    <div class="header">
      <h2>General Statistics

      </h2>

    </div>
    <div class="sales">
      <div class="sale">
        <h4>Order</h4>
        <div>
          <small class="text-muted">All Orders </small>
          <p>{{allorder}}</p>
        </div>
        <div>
          <div class="amount">
            <h5 class="text-muted">Oders waiting</h5>
            <h4>{{ unansweredCount }}</h4>
          </div>
        </div>
      </div>
      <div class="sale">
        <h4>No. Seller</h4>
        <div>
          <small class="text-muted">All Seller </small>

          <p>{{allseller}}</p>
        </div>
        <div>
          <div class="amount">
            <h5 class="text-muted">Seller is Active</h5>
            <h4>{{ allsellerisActive }}</h4>
          </div>
        </div>
      </div>
      <div class="sale">
        <h4>No. Customers</h4>
        <div>
          <small class="text-muted">All Customers </small>

          <p>{{allCustomer}}</p>
        </div>
        <div>
          <div class="amount">
            <h5 class="text-muted">Customers is Active</h5>
            <h4>{{ allcustomeActive }}</h4>
          </div>
        </div>
      </div>
      <div class="sale">
        <h4>No. delivery</h4>
        <div>
          <small class="text-muted">All delivery </small>

          <p>{{alldelivery}}</p>
        </div>
        <div>
          <div class="amount">
            <h5 class="text-muted">delivery is Active</h5>
            <h4>{{ alldeliveryActive }}</h4>
          </div>
        </div>
      </div>
      <div class="sale">
        <h4>No. Brands</h4>

        <div>
          <div class="amount">
            <h5 class="text-muted">All Brands</h5>
            <h4>{{ allBrands }}</h4>
          </div>
        </div>
        <div>

        </div>
      </div>
      <div class="sale">
        <h4>No. Produts</h4>
        <div class="amount">
          <h5 class="text-muted">All Produts</h5>
          <h4>{{ allprouduts }}</h4>

        </div>
        <div>

        </div>
      </div>
    </div>

  </div>
</div>
