.right{
  max-width: 22rem;

}
/* update */


.recent-update{
  margin-top: 1rem;
}
.recent-update h2{
  margin-bottom: 0.8rem;
}
.recent-update .updates{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius:var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: var( --transition);
  min-width: 22rem;
}
.recent-update .updates:hover{
  box-shadow: none;
}
.recent-update .updates .update{
  display: grid;
  grid-template-columns: 2.6rem auto ;
  gap:1rem;
  margin-bottom: 1rem;
}
.rigth{
  margin-top: 1.4rem;
}
