.containerr{
  position: relative;
  max-width: 1180px;
  width: 100%;
   padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
 }
.containerr .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.containerr #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
 .containerr .cover .front,
 .containerr .cover .back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cover .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.containerr .cover::after{
  opacity: 0.3;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.containerr .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}
.containerr .cover .text{
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.containerr .forms{
  height: 100%;
  width: 100%;
  padding: 40px 30px;
  border-radius: 10px;
  background: #fff;
}


.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
  font-size: 30px;
  color: #007bff;
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: crimson;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 500;

}

input[type="submit"]:hover {
  background-color:crimson;
 }
@media (max-width: 730px) {
  .containerr .cover{
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: 100%;
  }
  .form-content .signup-form{
    display: none;
  }
  .containerr #flip:checked ~ .forms .signup-form{
    display: block;
  }
  .containerr #flip:checked ~ .forms .login-form{
    display: none;
  }
}
