<section class="section-home">
  <owl-carousel-o [options]="customOptions" >
   <ng-template carouselSlide  *ngFor="let x of Data; let i = index">
     <div class="slide slide-1" [ngStyle]="{ 'background-image': 'url(http://localhost:4203/assets/image/Slider/'+ x.imageURl+')'}">
       <div class="content animation-text-main slide-content">
         <h1>{{x.title}}</h1>
         <p>{{x.description}}</p>
         <button class="btn-shop">{{x.button}}
           <i class="bx icon-add bx-cart-add"></i>
         </button>
       </div>
     </div>
   </ng-template>
  </owl-carousel-o>


</section>
