<section class="section-home">
  <owl-carousel-o [options]="customOptions">
   <ng-template carouselSlide>
     <div class="slide slide-1">
       <div class="content animation-text-main slide-content">
         <h1>Auto-Parts</h1>
         <p>Wide selection of new and used auto parts at the lowest price.</p>
         <button class="btn-shop">Shop Now
           <i class="bx icon-add bx-cart-add"></i>
         </button>
       </div>
     </div>
   </ng-template>
   <ng-template carouselSlide>
     <div class="slide slide-2">
       <div class="content animation-text-main slide-content">
           <h1>Quad bike, UTV, ATV Accessories</h1>
           <p>
             From boxes to plows, we have everything for the road ahead.
         </p>
         <button class="btn-shop">Shop Now
           <i class="bx icon-add bx-cart-add"></i>
         </button>
       </div>
   </div>
   </ng-template>
  </owl-carousel-o>


</section>
