<header class="bottom-header">
  <!-- <div class="main-home">
      <ul class="top-level">
          <li class="submenue-header" >
            <div class="sup-menu">
              <a class="meag" href="#">meage menu</a>
              <i class='bx bx-menu'></i>
            </div>
            <div class="sub-menu" [class.active]="">
              <div class="top-sub-menu">
                <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>
                <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>
                <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>
                <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>  <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>  <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>  <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>  <ul>
                  <li  class="perent"><a href="#"> item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                  <li><a href="#">sub item</a></li>
                </ul>
              </div>
            <div class="mid-sub-menu">
              <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>
              <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>
              <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>
              <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>  <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>  <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>  <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>  <ul>
                <li  class="perent"><a href="#"> item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
                <li><a href="#">sub item</a></li>
              </ul>
            </div>
            </div>

          </li>

      </ul>
  </div> -->
  <ul class="main-menu">
    <!-- <li class="menu-dropdown">
      <a  >MOTO</a>
       <div class="dropdown">
        <ul>
          <li><a href="#">Air Cleaner</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Brakes</a></li>
          <li><a href="#">Engine Components</a></li>
           <li><a href="#">Exhaust</a></li>
          <li><a href="#">Foot Rest</a></li>
          <li><a href="#">Handlebar</a></li>
          <li><a href="#">Motor Oil</a></li>
          <li><a href="#">Seat/Backrests</a></li>
          <li><a href="#">M Suspension</a></li>
        </ul>
      </div>
    </li> -->
    <!-- <li class="menu-dropdown">
      <a href="#"> ATV & UTV</a>
       <div class="dropdown">
        <ul>
          <li><a href="#">ATV & UTV</a></li>
          <li><a href="#">ATV Bike Air Intake</a></li>
          <li><a href="#">ATV Bike Cooling System</a></li>
          <li><a href="#">ATV Bike Electric</a></li>
          <li><a href="#">ATV Bike Exhaust</a></li>
          <li><a href="#">ATV Bike Fuel System</a></li>
           <li><a href="#">ATV Bike Motor Builds</a></li>
          <li><a href="#">ATV Bike Wearings</a></li>
          <li><a href="#">ATV Bike Wheel & Accessories</a></li>
          <li><a href="#">ATV Bike Light & Accessories</a></li>
          <li><a href="#">ATV Bike Clutch System</a></li>
          <li><a href="#">ATV Bike Accessories</a></li>




        </ul>
      </div>
    </li> -->


    <!-- <li class="menu-dropdown">
      <a href="#">JETSKI</a>
       <div class="dropdown">
        <ul>
          <li><a href="#">item<i class="bx bx-caret-right" id="right-icon"></i></a>
            <div class="list-drop">
              <ul>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">item<i class="bx bx-caret-right" id="right-icon"></i></a>
            <div class="list-drop">
              <ul>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
              </ul>
            </div>
          </li>  <li><a href="#">item<i class="bx bx-caret-right" id="right-icon"></i></a>
            <div class="list-drop">
              <ul>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
              </ul>
            </div>
          </li>  <li><a href="#">item<i class="bx bx-caret-right" id="right-icon"></i></a>
            <div class="list-drop">
              <ul>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
              </ul>
            </div>
          </li>  <li><a href="#">item<i class="bx bx-caret-right" id="right-icon"></i></a>
            <div class="list-drop">
              <ul>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
                <li><a href="#">item</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </li> -->
    <li><a href="#">SHOP BY BRANDS</a></li>
    <li><a href="#">SHOP BY VEHICLE</a></li>
    <li><a href="#">CAR PERFORMANCE</a></li>
    <li><a href="#">EXTERIOR</a></li>
    <li><a href="#">INTERIOR</a></li>
    <!-- <li><a href="#">TIRES & RIMS</a></li> -->

  </ul>
 </header>
