.order-list{
  width: 130%;
}
.top{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  left: 19rem;
  margin-bottom: 2rem;
}
.top .btn-add{
  border-radius: 10px;
  border: 1px solid;
  display: inline-flex;
  padding: 5px 10px;
}
.top .btn-add span{
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
}
.top .btn-add:hover{
  background: var(--color-white);
  color: var(--color-primary);}
hr{
  border-bottom: 1px solid gray;
  width: 130%;
  }
.list{
  margin-top: 2rem;
}
.list table{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.list table:hover{
  box-shadow: none;

}

.table .tbody {
  display: block;
  max-height: 600px;
  border-radius: 5rem;
  overflow-y: scroll;
}
.table .tbody::-webkit-scrollbar {
  width: 10px;
  background-color:var(--color-light);
  border-radius: var(--border-radius-1);
}
.table .tbody::-webkit-scrollbar-thumb {
  background-color:gray;
  border-radius: var(--border-radius-1);
}
.table .thead, .table .tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table .tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
.table .tbody tr:last-child td{
  border: none;
}
.list a {
  text-align: center; display: flex;
  margin: 1rem auto;
  color: var(--color-primary);
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.table .tbody tr .action span:nth-child(1){
  color: var(--color-primary);
}
.table .tbody tr .action span:nth-child(2){
  color: var(--color-warning);
}
.table .tbody tr .action span:nth-child(3){
  color: var(--color-danger);

}
