<section>
  <div class="header">
    <h1>Order</h1>
  </div>
</section>
<hr>
<main class="order-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
           <th>Full Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Total Price</th>
          <th>Shipping Address</th>
          <th>Order Status</th>
           <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr  *ngFor="let Order of contactUsService.ListOrder">
           <td>{{Order.fullName}}</td>
          <td>{{Order.email}}</td>
          <td>{{Order.mobile}}</td>

          <td>{{Order.totalPrice}}</td>
          <td>{{Order.shippingAddress}}</td>
          <td>
            {{ Order.orderStatus ? Order.orderStatus : 'Waiting' }}
          </td>
                    <td class="primary action">
            <span class="material-icons">info</span>
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
