.profile{
  width: 130%;
}
.card{
  border: none;
}
/* .card img{

} */
h6{
  font-size: 1.3rem;
}
.card h4{
  font-size: 15px;
  margin: 2rem;
  font-weight: 500;
  font-family:poppins,sans-serif;

}
.top{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  left: 19rem;
  margin-bottom: 2rem;
}
.top .btn-add{
  border-radius: 10px;
  border: 1px solid;
  display: inline-flex;
  padding: 5px 10px;
}
.top .btn-add span{
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
}
.top .btn-add:hover{
  background: var(--color-white);
  color: var(--color-primary);}
.line{
  border-bottom: 1px solid gray;
  width: 57%;
  justify-items: center;
  margin: 19px 30px;

}
.sup-porfile,
.anaylsis-sup{
  margin-top: 2rem;
}
.sup-porfile .sub-profile,
.anaylsis-sup .anaylsis-sub{
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
canvas#doubleLineCanvas{
  background: var(--color-white);
  max-width: 100%;
  margin-top: 2rem;
  border-radius:var(--card-border-radius) ;
  padding: var(--card-padding);
}
