<section>
  <div class="header">
    <h1>products</h1>
  </div>
</section>
<header class="top">
  <button class="btn-add" [routerLink]="['/New-products']">
    Add New products
    <span class="material-icons">add_circle</span>
  </button>
</header>
<hr>
<main class="products-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Product Number</th>
          <th>Price</th>
          <th>Status</th>
          <th>Shipping Address</th>
          <th>Billing Address</th>
          <th>Tracking Number</th>
          <th>
            Spectail products

        </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let porducts of productsService.listProducts">
          <td>{{porducts.id}}</td>
          <td>{{porducts.title}}</td>
          <td>{{porducts.price}}$</td>
          <td>
            <!-- <td *ngIf="{{porducts.isActive}}==0"></td> -->
          </td>
          <td>{{porducts.Brands_Id}}</td>
          <td class="warning">pending</td>
          <td>{{porducts.Car_Id}}</td>
          <td>{{porducts.Category_Id}}</td>
          <td>{{porducts.UserId}}</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <!-- <span class="material-icons" (click)="openModal(porducts.id)">info</span> -->
            <span class="material-icons" (click)="openModal(porducts.id)">info</span>
            <!-- <button type="button" class="material-icons" (click)="openModal(porducts.id)">info</button> -->

            <span class="material-icons" [routerLink]="['/Edit-Products/',porducts.id]">edit</span>
            <span class="material-icons" (click)="DeleteMehtods(porducts.id)">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <h5>{{ product.title }}</h5>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
