<section>
  <div class="header">
    <h1>products</h1>
  </div>
</section>
<header class="top">
  <button class="btn-add" [routerLink]="['/New-products']">
    Add New products
    <span class="material-icons">add_circle</span>
  </button>
</header>
<hr>
<main class="Employyes-list">
  <div class="list">
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Product Number</th>
          <th>Payment</th>
          <th>Status</th>
          <th>Shipping Address</th>
          <th>Billing Address</th>
          <th>Tracking Number</th>
          <th>
            Spectail products

        </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
            <span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>
            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr> <tr>
          <td>1</td>
          <td>door</td>
          <td>#11111</td>
          <td>paid</td>
          <td class="warning">pending</td>
          <td>Amman</td>
          <td>fedex</td>
          <td>56266</td>
          <td>
            <form>
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </form>
          </td>
          <td class="primary action">
            <span class="material-icons"[routerLink]="['']">info</span>
<span class="material-icons" [routerLink]="['/Edit-Products']">edit</span>            <span class="material-icons">delete</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
